<h4 class="heading">Events and Training</h4>
<hr>
<div class="row">
    <div class="col" *ngIf="getRole() != 4">
        <button (click)=addRow()  [disabled]="(addRowVar || isEventsandTrainingEditEnabled )"
        class="btn biolabBtn float-right add-raw x">Add
            Row</button>
    </div>
</div>
<form class="mt-1 validation" [formGroup]="addEventsandTrainingForm" (ngSubmit)="onSubmit()">
    <table class="table table-striped table-bordered table-sm row-border hover text-center table_legenda" style="width: 100%;" datatable
        [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th class="date">Date</th>
                <th class="link">Event Link</th>
                <th class="sponsor">Sponsor</th>
                <th class="regcount">Registration Count</th>
                <th class="cost">Number Attended</th>
                <th class="cost">Cost</th>
                <th class="notes">Notes</th>
                <th class="action"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="addRowVar">
                <td class="form-group">
                    <input class="w-100" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.name.errors }"
                        type="text" name="name" />
                </td>
                <td class="form-group">
                    <div class="form-group w-100">
                        <div class="input-group">
                            <input formControlName="date" class="form-control w-100" placeholder="DD Mon YYYY" name="d2"
                                ngbDatepicker #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d2.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="form-group">
                    <input class="w-100" formControlName="eventLink"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.eventLink.errors }"
                        type="text" name="eventLink" />
                </td>
                <td class="form-group">
                    <input class="w-100" formControlName="sponsor"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.sponsor.errors }"
                        type="text" name="sponsor" />
                </td>
                <td class="form-group">
                    <input class="w-100" formControlName="registrationCount" [textMask]="{mask: inputNumberMask}"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.registrationCount.errors }"
                        type="number" name="registrationCount" />
                </td>
                <td class="form-group">
                    <input class="w-100" formControlName="numberAttended" [textMask]="{mask: inputNumberMask}"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.numberAttended.errors }"
                        type="number" name="numberAttended" />
                </td>
                <td class="form-group">
                    <input class="w-100" formControlName="cost"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.cost.errors }"
                        type="number" name="cost" />
                </td>
                <td class="form-group">
                    <input class="w-100" formControlName="notes"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.notes.errors }"
                        type="text" name="notes" />
                </td>
                <td class="form-group action">
                    <span class="margin-right cursor-pointer submit">
                        <i class="fa fa-check" (click)="onSubmit()"></i>
                    </span>
                    <span (click)="addRowVar = !addRowVar"><i class="fa fa-times cursor-pointer ml-2"></i></span>
                </td>
            </tr>
            <tr *ngFor="let item of eventsandTrainings; let index=index">
                <td class="form-group text-start">
                    <span *ngIf="!item.editable"> {{item.events_and_training_name}}</span>
                    <input class="product-name w-100" *ngIf="item.editable" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.name.errors }"
                        type="text" name="name" />
                </td>
                <td class="form-group">
                    <span *ngIf="!item.editable">
                        {{formatDate(item.events_and_training_date) | date: globalDateFormat}}
                    </span>
                    <div *ngIf="item.editable" class="form-group w-100">
                        <div class="input-group">
                            <input formControlName="date" class="form-control w-100" placeholder="DD Mon YYYY" name="d3"
                                ngbDatepicker #d3="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d3.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="form-group text-start">
                    <span *ngIf="!item.editable"> {{item.events_and_training_eventLink}}</span>
                    <input class="product-name w-100" *ngIf="item.editable" formControlName="eventLink"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.eventLink.errors }"
                        type="text" name="eventLink" />
                </td>
                <td class="form-group text-start">
                    <span *ngIf="!item.editable"> {{item.events_and_training_sponsor}}</span>
                    <input class="product-name w-100" *ngIf="item.editable" type="text"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.sponsor.errors }"
                        formControlName="sponsor" name="sponsor" />
                </td>
                <td class="form-group">
                    <span *ngIf="!item.editable"> {{item.events_and_training_registrationCount}}</span>
                    <input class="product-name w-100 center-align" *ngIf="item.editable" type="number" [textMask]="{mask: inputNumberMask}"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.registrationCount.errors }"
                        formControlName="registrationCount" name="registrationCount" />
                </td>
                <td class="form-group">
                    <span *ngIf="!item.editable"> {{item.events_and_training_numberAttended}}</span>
                    <input class="product-name w-100 center-align" *ngIf="item.editable" type="number" [textMask]="{mask: inputNumberMask}"
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.numberAttended.errors }"
                        formControlName="numberAttended" name="numberAttended" />
                </td>
                <td class="product-name form-group">
                    <span *ngIf="!item.editable"> {{item.events_and_training_cost | currency :
                        selectedSiteDetail.currencyCode ||
                        'INR' }}</span>
                    <input class="product-name w-100 center-align" *ngIf="item.editable"   type="number" formControlName="cost" name="cost" />
                </td>
                <td class="description text-start">
                    <span *ngIf="!item.editable">{{item.events_and_training_notes}}</span>
                    <textarea class="description w-100" formControlName="notes" *ngIf="item.editable" 
                        [ngClass]="{ 'is-invalid': submitted && addEventsandTrainingForm.controls.notes.errors }"
                        type="text" name="notes">
                    </textarea>
                </td>
                <td *ngIf="getRole() != 4">
                    <span class="margin-right cursor-pointer" *ngIf="!(addRowVar || isEventsandTrainingEditEnabled)"
                        (click)="editEnable(item)">
                        <li class="fa fa-edit"></li>
                    </span>

                    <span data-toggle="modal" data-target="#deleteModal"
                        *ngIf="!(addRowVar || isEventsandTrainingEditEnabled)" (click)="setItemData(item)">
                        <li class="fa fa-trash ml-2"></li>
                    </span>

                    <span
                        *ngIf="((addRowVar) || (isEventsandTrainingEditEnabled && item.events_and_training_id !== selectedItem.events_and_training_id))"
                        class="margin-right">
                        <li class="fa fa-edit disabled"></li>
                    </span>

                    <span
                        *ngIf="((addRowVar) || (isEventsandTrainingEditEnabled && item.events_and_training_id !== selectedItem.events_and_training_id))"
                        data-toggle="modal">
                        <li class="fa fa-trash disabled ml-2"></li>
                    </span>

                    <span class="margin-right cursor-pointer submit" *ngIf="item.editable">
                        <li class="fa fa-check"
                            (click)="updateEventsandTrainingDetails(item.events_and_training_id, item)"></li>
                    </span>
                    <span class="margin-right cursor-pointer" *ngIf="item.editable"
                        (click)="item.editable = !item.editable; isEventsandTrainingEditEnabled = !isEventsandTrainingEditEnabled">
                        <i class="fas fa-times ml-2"></i>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</form>
<div class=" modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the item?
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn biolabBtn btn-del" data-dismiss="modal"
                    (click)="deleteEventsandTrainingDetails()">Delete</button>
            </div>
        </div>
    </div>
</div>