<div class="card text-center m-5" *ngIf="userData.length == 0">
    <div class="card-header">
        Data not Found
    </div>
    <div class="card-body">
        <h5 class="card-title">No Site Members available to Display.</h5>
    </div>
</div>
<div class="row row-cols-1 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mt-3">
    <div class="col pb-3 pt-3" *ngFor="let user of userData">
        <div class="card ">
            <div class="kv-avatar image-upload pic d-flex">
                <div class="fit-img">
                    <img *ngIf="user?.imageUrl" class="card-img-top img-fluid" [src]="profilePic + user.imageUrl"
                        (error)="onImgError($event)" alt="user image">
                    <img *ngIf="!user?.imageUrl" class="card-img-top img-fluid" src="assets/images/default.svg"
                        alt="user image">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title card-text" [title]="user.firstName + user.lastName">{{user.firstName}}
                    {{user.lastName}}</h5>
                <p class="card-text text-muted" [title]="user.title">{{user.title || '-'}} </p>
                <div class="row">
                    <div class="pl-3">
                        <button class="btn biolabBtn" routerLink="/resident-companies/{{user.companyId}}/company">
                            LEARN MORE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col pb-3 pt-3">
        <div class="card ">
            <img src="assets/images/default.svg" class="card-img-top" alt="user image">
            <div class="card-body">
                <strong>Adecto Pharmaceuticals</strong><br><br>
                <button class="btn biolabBtn">LEARN MORE</button>
                <br><br><button class="btn biolabBtn btn-del">DELETE</button>
            </div>
        </div>
    </div> -->
</div>