<div class="jumbotron text-center pb-5">
  <div class="icon-animated icon-animated-tick" tabindex="-1" aria-hidden="true">
    <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <circle cx="50" cy="50" r="50" />
    </svg>
    <div class="tick">
      <svg class="tick-leg1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 52">
        <polygon class="" points="1,41 0,48 25,52 25,45" />
      </svg>
      <svg class="tick-leg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 52">
        <polygon class="" points="18,45 25,47 25,0 18,0" />
      </svg>
    </div>
  </div>
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Thanks for submitting your application! We will get back to you within 24-48 hours.</strong></p>
  <hr>
  <!-- <p>
    Having trouble? <a href="">Contact us</a>
  </p> -->
  <p class="lead mt-5">
    <a class="btn btn-lg general-button" href="/">CONTINUE TO HOMEPAGE</a>
  </p>
</div>