
<div class="home-container">
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/images/home.jpg" class="home-image"  alt="home-image">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col">
                    <h1 class="heading"> <strong> Ready to Build your Biotech?</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="description"> We're excited for you to join the premier platform for life science startups. Our goal is to change how scientific entrepreneurs do business with an ecosystem that empowers bio-innovators to grow quickly.</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn home-button" routerLink="/login">BioLabs Member Log In</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn home-button" routerLink="/apply">Apply to BioLabs</button>
                </div>
            </div>
        </div>
    </div>
</div>