a.active {
    color: rgb(238, 125, 49) !important;
}
textarea {
    resize: none;
  }
.tab-bar .tab a {
    font-size: 18px;
    line-height: 35px;
    color: rgba(0, 0, 0, .5);
}

.modal-body .tab-bar .tab a {
    line-height: inherit;
}

.tab-bar .tab:active .eff-7,
.tab-bar .tab:focus .eff-7,
.tab-bar .tab:hover .eff-7 {
    border: 1px solid #1c948d;
}

.tab-bar .tab:active a,
.tab-bar .tab:focus a,
.tab-bar .tab:hover a {
    color: gray;
}
.cName {
    font-size: 20px;
}
.link {
    font-size: 12px;
    /* margin: 25px; */
}