.font {
    color: rgb(33, 142, 185);
    font-size: 17px;
}
.margin {
    margin-left: -70px;
}

.margins {
    margin-left: -130px;
}
.marginss {
    margin-left: -180px;
}

.dataTable>thead>tr>th[class*="sort"]:before,
.dataTable>thead>tr>th[class*="sort"]:after {
  content: "" !important;
}
.table thead, .table th {
  vertical-align: middle;
}
thead {
  background-color: #343a40;
  color: white;
}
/* table.dataTable tbody td {
  font-size: 50px;
} */
:host ::ng-deep .dt-button {
  border: 1px solid #1c948d !important;
  background-color: #0f9792 !important;
  line-height: 1.0 !important;
  border: none !important;
  color: white;
}
:host ::ng-deep .dt-button:hover {
  border: 1px solid #1c948d!important;
  background-color: #0f9792 !important;
  line-height: 1.0 !important;
  border: none !important;
  color: black;
}
.scrollable-drag-list {
  max-height: 20rem;
  overflow: auto;
}
.table_legenda {
  table-layout: fixed;
  /* font-size: 12px; */
}
.table_legenda th tr{
  overflow-wrap: break-word;
}
.textfit{
  word-wrap: break-word;
}
