<div class="card text-center m-5" *ngIf="companyList.length == 0">
    <div class="card-header">
        Data not Found
    </div>
    <div class="card-body">
        <h5 class="card-title">No Site Companies available to Display.</h5>
    </div>
</div>

<div class="row row-cols-1 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mt-3">
    <div *ngFor="let clist of companyList" class="col pb-3 pt-3">
        <div class="card ">
            <div class="kv-avatar image-upload pic d-flex">
                <div class="fit-img">
            <img *ngIf="clist?.logoImgUrl" class="card-img-top img-fluid" [src]="logoFileSource + clist.logoImgUrl"
                (error)="onImgError($event)" alt="user image">
            <img *ngIf="!clist?.logoImgUrl" class="card-img-top img-fluid" src="/assets/images/blPlaceholder.png" alt="user image">
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title card-text" [title]="clist.companyName">{{clist.companyName || '-'}}</h5>
                <div class="row">
                    <div class="pl-3">
                        <button class="btn biolabBtn" routerLink="/resident-companies/{{clist.id}}/company">
                            LEARN MORE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>