<div class="content-wrapper main">
    <section>
        <div>
            <ul class="nav nav-tabs flex-row cus-tab tab-bar">
                <li class="nav-item tab">
                    <a class="nav-link font-weight-bold " data-toggle="pill" href="#" routerLink="directory-members"
                        routerLinkActive="active">Site Members</a>
                    <div class="eff-7"></div>
                </li>
                <li class="nav-item tab">
                    <a class="nav-link font-weight-bold" data-toggle="pill" href="#" routerLink="directory-site"
                        routerLinkActive="active">BioLabs Site Staff</a>
                    <div class="eff-7"></div>
                </li>
                <li class="nav-item tab">
                    <a class="nav-link font-weight-bold" data-toggle="pill" href="#" routerLink="directory-companies"
                        routerLinkActive="active">Site Companies</a>
                    <div class="eff-7"></div>
                </li>
                <li class="nav-item tab">
                    <a class="nav-link font-weight-bold" data-toggle="pill" href="#" routerLink="directory-sponsors"
                        routerLinkActive="active">Site Sponsors</a>
                    <div class="eff-7"></div>
                </li>
            </ul>
        </div>
    </section>
</div>
<br>
<router-outlet></router-outlet>