<!-- <div class="content-wrapper main">
    <section>
        <div>
            <ul class="nav nav-tabs flex-row cus-tab tab-bar" id="tab1">
                <li class="nav-item tab">
                    <a class="nav-link font-weight-bold" data-toggle="pill" href="javascript:void()"
                        routerLink="/spusertab/spdata" routerLinkActive="active">
                        Admin
                    </a>
                    <div class="eff-7"></div>
                </li>
                <li class="nav-item tab">
                    <a class="nav-link font-weight-bold" data-toggle="pill" href="javascript:void()"
                        routerLink="/spusertab/spprofile" routerLinkActive="active">
                        ADD NEW SPONSOR
                    </a>
                    <div class="eff-7"></div>
                </li>
            </ul>
        </div>
    </section>
</div> -->

<!-- <div class="pt-4">
    <button class="btn btn-lg general-button" routerLink="/spusertab/spprofile">ADD NEW SPONSOR</button>
</div>  -->

<!-- <div class="card text-center m-5" >
    <div class="card-header">
        Data not Found
    </div>
    <div class="card-body">
        <h5 class="card-title">No Sponsor available to Display.</h5>
        <button class="btn btn-lg general-button">ADD NEW SPONSOR</button>
    </div>
</div> -->

<router-outlet></router-outlet>